.card {
  margin-bottom: 30px;
  min-width: 250px;
  height: 100px;
  box-shadow: -4px 3px 19px 0px rgba(17, 0, 0, 0.66);
  font-family: sans-serif;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.name_picture {
  display: flex;
  width: 100%;
  justify-content: flex-start;

  align-items: center;
  margin-bottom: 20px;
}

.perfil_picture {
  border-radius: 100%;
  width: 40px;
}

.input_button {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 120px;
}

.name {
  margin-left: 10px;
}
